@{
    ViewBag.Title = "Home Page";
}

<section class="w3l-about1">
    <div class="new-block top-bottom">
        <div class="container">
            <div class="middle-section">
                <!-- <h5>Tagline</h5> -->
                <div class="section-width">
                    <h2>EN SEVDİĞİNİZ LEZZETLER SİZİN İÇİN.</h2>
                </div>
                <div class="link-list-menu">
                    <p>
                        Burada isterseniz şef olun..
                        İsterseniz gurme..
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>